<h1>EAT-DA-BURGER</h1>

<main>
    <div class="container">
        <div class="row">
            <div class="col s6">
                <h2>Ready to eat</h2>
                {{#each burger_data}}
                {{#unless this.devoured}}
                <p>{{this.id}}. {{this.burger_name}}</p>
                <form class="devourBtn">
                    <input input type="hidden" class="burgerID" type="text" value={{this.id}}>
                    <button type="submit">DEVOUR ME!</button>
                </form>
                {{/unless}}
                {{/each}}
            </div>         
            <div class="col s6">
                <!--HANDLEBARS GO HERE-->
                <h2>Already Eaten</h2>
                {{#each burger_data}}
                {{#if this.devoured}}
                <p>
                    {{this.id}} . {{this.burger_name}}
                </p>
                {{/if}}
                {{/each}}
            </div>  
        </div>
    </div>
</main>

<h2>Add A Burger Option</h2>

<div class="row">
  <div class="col s12">
    <form action="/burgers" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="Uber Delicious Burger">
      <button type="submit" class="addBurgerButton">Add The Burger</button>
    </form>
  </div>
</div>



    <footer class="burgerFooter">
        <div class="footerCR">
            <div class="container">
                 <span class="blue-text text-darken-2">© 2019 Big Willie Style</span>
                 <a class="blue-text text-darken-2" href="https://github.com/WellScripted">Reference Work</a>
            </div>
        </div>
    </footer>